<section class="favorites" id="service">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <picture>
          <source srcset="
                  ./img/burger-desk-1x.png 1x,
                  ./img/burger-desk-2x.png 2x
                " media="(min-width: 1280px)" />
          <source srcset="
                  ./img/burger-tab-1x.png 1x,
                  ./img/burger-tab-2x.png 2x
                " media="(min-width: 768px)" />
          <source srcset="
                  ./img/burger-mob-1x.png 1x,
                  ./img/burger-mob-2x.png 2x
                " media="(min-width: 320px)" />
          <img src="./img/burger-desk-1x.png" width="315" alt="Gamburger" />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source srcset="
                  ./img/pasta-desk-1x.png 1x,
                  ./img/pasta-desk-2x.png 2x
                " media="(min-width: 1280px)" />
          <source srcset="./img/pasta-tab-1x.png 1x, ./img/pasta-tab-2x.png 2x" media="(min-width: 768px)" />
          <source srcset="./img/pasta-mob-1x.png 1x, ./img/pasta-mob-2x.png 2x" media="(min-width: 320px)" />
          <img src="./img/pasta-desk-1x.png" width="315" alt="Pasta" />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source srcset="
                  ./img/pizza-desk-1x.png 1x,
                  ./img/pizza-desk-2x.png 2x
                " media="(min-width: 1280px)" />
          <source srcset="./img/pizza-tab-1x.png 1x, ./img/pizza-tab-2x.png 2x" media="(min-width: 768px)" />
          <source srcset="./img/pizza-mob-1x.png 1x, ./img/pizza-mob-2x.png 2x" media="(min-width: 320px)" />
          <img src="./img/pizza-desk-1x.png" width="315" alt="Pizza" />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source srcset="
                  ./img/chicken-desk-1x.png 1x,
                  ./img/chicken-desk-2x.png 2x
                " media="(min-width: 1280px)" />
          <source srcset="
                  ./img/chicken-tab-1x.png 1x,
                  ./img/chicken-tab-2x.png 2x
                " media="(min-width: 768px)" />
          <img src="./img/chicken-desk-1x.png" width="315" alt="Chicken" />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source srcset="
                  ./img/salat-desk-1x.png 1x,
                  ./img/salat-desk-2x.png 2x
                " media="(min-width: 1280px)" />
          <source srcset="./img/salat-tab-1x.png 1x, ./img/salat-tab-2x.png 2x" media="(min-width: 768px)" />
          <img src="./img/salat-desk-1x.png" width="315" alt="Salat" />
        </picture>
      </li>

      <li class="favorites__item">
        <picture>
          <source srcset="
                  ./img/borshch-desk-1x.png 1x,
                  ./img/borshch-desk-2x.png 2x
                " media="(min-width: 1280px)" />
          <source srcset="
                  ./img/borshch-tab-1x.png 1x,
                  ./img/borshch-tab-2x.png 2x
                " media="(min-width: 768px)" />
          <img src="./img/borshch-desk-1x.png" width="315" alt="Borshch" />
        </picture>
      </li>
    </ul>
  </div>
</section>