.header {
  padding: 10px 0;
  background-color: var(--white__secondary__color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  position: relative;
}

.box__header {
  display: flex;
  align-items: center;
}

.box__header img {
  animation-name: changeLogoPosition;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
}

@keyframes changeLogoPosition {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.header__nav {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 480px) {
  .header__nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__nav-list {
  display: flex;
  gap: 28px;
}

.header__nav-item::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--btn__green__color);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header__nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16/14);
  color: var(--secondary__text__color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--btn__green__color);
}

@media screen and (min-width: 1280px) {
  .header__nav-link {
    font-size: 14px;
    line-height: calc(16/14);
    color: var(--main__text__color);
  }
}

.header__button-burger {
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

.header__nav-link:hover .header__burger-icon,
.header__nav-link:focus .header__burger-icon {
  fill: var(--yellow__bg__color);
}

@media screen and (min-width: 768px) {
  .header__button-burger {
    display: none;
  }

  .header__burger-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
    display: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__button:hover,
  .header__button:focus {
    background-color: #ffe450;
  }
}

@media screen and (max-width: 479px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20/13);
    color: var(--main__text__color);
    background-color: var(--btn__green__color);
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    padding: 6px 18px;
    height: 32px;
    min-width: 98px;
  }
}

.header__nav-item:hover::after {
  width: 100%;
}

.menu {
  width: 130px;
  height: 255px;
  background: var(--white__secondary__color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  position: absolute;
  right: 25px;
  top: 37px;
  overflow: hidden;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__close {
  outline: none;
  display: block;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.menu__item {
  list-style: none;
}

.menu__link {
  display: block;
  padding: 16px 16px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  line-height: calc(19/16);
  color: var(--secondary__text__color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover,
.menu:focus {
  background-color: var(--btn__green__color);
}