.hero {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 60px;

  background-color: var(--white__color);
}

@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 50px;
  }
}


@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1280px;
    padding-top: 82px;
  }
}

.container-wrap {
  position: relative;
  display: flex;
}

@media screen and (min-width: 768px) {
  .hero__wrap {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1280px) {
  .hero__wrapper {
    padding-top: 145px;
  }
}

.hero_title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .hero_title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
    max-width: 537px;
  }
}

@media screen and (min-width: 1280px) {
  .hero_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    max-width: 502px;
    margin-bottom: 28px;
  }
}

.hero__text {
  font-size: 14px;
  line-height: calc(21 / 14);
  margin-bottom: 28px;
}


@media screen and (min-width: 768px) {
  .hero__text {
    line-height: calc(24 / 16);
    text-align: left;
    max-width: 336px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text {
    max-width: 502px;
    margin-bottom: 40px;
  }
}

.hero__button {
  min-width: 98px;
  height: 32px;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(20 / 13);
  font-family: inherit;
  color: var(--main__text__color);
  border: none;
  border-radius: 30px;
  background-color: var(--btn__green__color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--yellow__bg__color);
}



/*========== SLIDER ==========*/

.slider-wrapper {
  position: absolute;
  top: 89px;
  right: 32px;
}

@media screen and (min-width: 1280px) {
  .slider-wrapper {
    top: 0;
    right: 16px;
  }
}


.wrap-slider {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .wrap-slider {
    display: block;
    width: 320px;
    height: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap-slider {
    height: 580px;
    width: 580px;
  }
}

.wrap-picture {
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .wrap-picture {
    border: 14px solid #FFE550;
  }
}

@media screen and (min-width: 1280px) {
  .wrap-picture {
    border: 26px solid #FFE550;
  }
}


@media screen and (min-width: 768px) {
  .slider-img {
    width: 292px;
    height: 292px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-img {
    width: 528px;
    height: 528px;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: 700;
  font-size: 20px;
}

@media screen and (min-width: 1280px) {

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 29px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 34px;
  height: 28px;
  color: var(--main__text__color);
  background-position: center;
  background-color: #FEFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {

  .swiper-button-prev,
  .swiper-button-next {
    width: 48px;
    height: 40px;
  }
}

.swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus {
  color: var(--accent__text__color);
}

.swiper-button-prev-right,
.swiper-button-next-right {
  right: -12px;
}

.swiper-button-prev-left,
.swiper-button-next-left {
  left: -12px;
}