.offerings-main {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  background-position: top;
  background-size: cover;
  background-image: url(/img/bg-offer/bg-off-320-1x.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .offerings-main {
    max-width: 768px;
    padding-top: 202px;
    padding-bottom: 100px;
    background-image: url(/img/bg-offer/bg-off-tab-1x.png);
    margin-top: -50px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-main {
    max-width: 1600px;
    padding-top: 290px;
    padding-bottom: 43px;
    background-image: url(/img/bg-offer/bg-off-tab-1x.png);
  }
}

@media screen and (min-width: 1280px) {
  .offering-container {
    display: flex;
  }
}

.offerings-item::before {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
}

.offerings-apples {
  display: none;
}

@media screen and (min-width: 768px) {
  .offerings-apples {
    display: flex;
    gap: 44px;
    align-items: baseline;
    margin-top: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-apples {
    display: none;
  }
}

.offerings-img-cards {
  display: block;
}

@media screen and (min-width: 768px) {
  .offerings-img-cards {
    display: flex;
    gap: 29px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-img-cards {
    margin-right: 90px;
  }
}

.icon-delive::before {
  background-image: url(/img/icon-rocket.svg);
}

.icon-order::before {
  background-image: url(/img/icon-finger.svg);
}

.offerings__button {
  display: block;
  min-width: 106px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  list-style: 1.5;
  color: currentColor;
  background-color: #ffffff;
  border: 1px solid var(--accent__text__color);
  border-radius: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.offerings__button:hover,
.offerings__button:focus {
  background-color: var(--btn__green__color);
  border: none;
}

.offerings__img {
  width: 201px;
  height: 270px;
  position: absolute;
  bottom: 25px;
  left: 30px;
}

@media screen and (min-width: 768px) {
  .offerings__img {
    width: 257px;
    height: 345px;
    left: 33px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings__img {
    width: 396px;
    height: 529px;
    left: 52px;
    bottom: 42px;
  }
}

.offerings--bg-img {
  background-color: var(--white__secondary__color);
  border-radius: 50%;
  width: 255px;
  height: 255px;
  position: absolute;
  top: 10px;
  left: 10px;
}

@media screen and (min-width: 768px) {
  .offerings--bg-img {
    width: 325px;
    height: 325px;
    top: 12px;
    left: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings--bg-img {
    width: 502px;
    height: 502px;
    top: 20px;
    left: 20px;
  }
}

.offerings--border {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .offerings--border {
    width: 357px;
    height: 357px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings--border {
    width: 550px;
    height: 550px;
  }
}

.offerings--img-pos {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .offerings--img-pos {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .offerings--img-pos {
    margin-bottom: 0;
  }
}

.offerings__link {
  font-size: 13px;
  line-height: 1.5;
  color: var(--secondary__text__color);
  display: flex;
}

.offerings__link::after {
  content: '';
  background-image: url(/img/icon-read.svg);
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: bottom;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offerings__link::after:hover,
.offerings__link::after:focus {
  fill: var(--btn__green__color);
}

@media screen and (min-width: 1280px) {
  .offerings__link {
    display: none;
  }
}

.offerings__link__link:hover,
.offerings__link__link:focus {
  color: var(--btn__green__color);
}

.offerings__link--links {
  display: flex;
  align-items: baseline;
  gap: 24px;
}


.offerings-item {
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .offerings-item {
    margin-bottom: 0;
    width: 252px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-body {
    display: block;
  }
}

.offerings-name {
  padding-bottom: 28px;
  color: var(--secondary__text__color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 768px) {
  .offerings-name {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-name {
    font-weight: 700;
    line-height: 1.19;
  }
}


.offerings-text-own {
  font-size: 14px;
  line-height: 1.18;
}

@media screen and (min-width: 768px) {
  .offerings-text-own {
    font-weight: 400;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-text-own {
    line-height: 1.5;
  }
}


.offerings-text {
  color: var(--secondary__text__color);
  font-size: 14px;
  line-height: 1.18;
}

@media screen and (min-width: 768px) {
  .offerings-text {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-text {
    font-size: 14px;
    line-height: 1.4;
  }
}

.offerings-name-list {
  padding-bottom: 16px;
  color: var(--secondary__text__color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
}

@media screen and (min-width: 1280px) {
  .offerings-name-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
  }
}

.offerings-center {
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .offerings-center {
    width: 526px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .offerings-list {
    display: flex;
    gap: 116px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-list {
    margin-bottom: 32px;
    gap: 67px;
  }
}