.subscribe {
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 62px;
  padding-top: 52px;
}

@media screen and (min-width: 768px) {
  .subscribe {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe {
    height: 266px;
    position: relative;
    max-width: 1280px;
    padding-bottom: 64px;
    padding-top: 0;
  }
}

.subscribe__box {
  position: relative;
}

@media screen and (min-width: 1280px) {
  .subscribe__box {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    top: -68px;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe__wrap-form {
    padding-top: 46px;
    padding-bottom: 36px;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.20;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe__title {
    font-size: 42px;
    margin-top: 20px;
  }
}

.subscribe__desc {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .subscribe__desc {
    font-size: 16px;
    line-height: 1.50;
    margin-bottom: 24px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .subscribe__form {
    flex-direction: row;
    align-items: baseline;
    gap: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe__form {
    gap: 32px;
  }
}

.subscribe__input {
  box-sizing: border-box;
  background: var(--white__color);
  border: 0.854167px solid var(--yellow__bg__color);
  transition: border, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 30px;
  padding: 12px 11px;
  width: 100%;
}

.subscribe__input::placeholder {
  font-family: var(--main__font);
  font-size: 12px;
  line-height: 1.50;
  color: #505050;
}

.subscribe__input:focus {
  outline: transparent;
}

.subscribe__input:not(:placeholder-shown):not(:focus):valid {
  border: 0.854167px solid var(--accent__text__color);
}

.subscribe__input:not(:placeholder-shown):not(:focus):invalid {
  border: 0.854167px solid #FF705D;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 395px;
    margin-bottom: 0;
  }
}

.subscribe__label {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe__label {
    width: 395px;
    margin-bottom: 0;
  }
}

.subscribe__error {
  display: none;
  font-size: 10px;
  line-height: 1.5;
  color: #FF705D;
}

.subscribe__input:not(:placeholder-shown):not(:focus):invalid+.subscribe__error {
  display: block;
  position: absolute;
  left: 0;
}


.subscribe__btn {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.50;
  color: var(--main__text__color);
  background: var(--btn__green__color);
  border-radius: 30px;
  border: 0.854167px solid var(--btn__green__color);
  transition: border, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 11px 22px;
  width: 103px;
  float: right;
}

.subscribe__btn:focus,
.subscribe__btn:hover {
  background: #FFE450;
  border: 0.854167px solid #FFE450;
}


.subscribe__img {
  position: absolute;
  display: block;
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
}

@media screen and (min-width: 768px) {
  .subscribe__img {
    top: -143px;
    right: 0;
    left: 93%;
    transform: translateX(-93%);
  }
}

@media screen and (min-width: 1280px) {
  .subscribe__img {
    position: static;
    transform: none;
    width: 608px;
    height: 266px;
  }
}